
<section class="container">
    <header>Sign In</header>
    <form class="form" id="form" >

      <!-- Account username password -->
      <div>
        <div class="input-box">
          <label for="usernameInput">Username</label>
          <input type="text" id="usernameInput" placeholder="Username" required />
          <p id="usernameAvailability"></p>
        </div>    
    
        <div class="input-box">
          <label for="passwordInput">Password</label>
          <input type="password" id="passwordInput" placeholder="Enter the Password" required />
        </div>                                                                          
        <p class="create-account-link">Don't have an account? <a href="Sign-up.html">Create Account</a></p>
      <button type="submit">Sign in</button>
    </div>
    </form>
  </section>